.scrollParallax {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.scrollParallaxImages {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .scrollParallaxImages {
    flex-direction: column;
  }
}
